@use "../../../styles/mixins" as m;
@use "../../../styles/variables" as v;

.navigationStyling {
    background: v.$dark-color;
    padding: 0;
    @include m.flexBox(column, center, flex-start);
    width: 100%;
    margin: 0;
    padding: 0.4rem 0rem 0.4rem 1rem;

    li {
        list-style: none;

        a {
            text-decoration: none;
            color: v.$light-gray-color;
        }
    }
}