@use "../../../styles/mixins" as m;
@use "../../../styles/variables" as v;

.headerStyling {
    @include m.flexBox(row, flex-start, center);
    padding: 0.4rem 0rem 0.4rem 1rem;

    @media (min-width: 1300px) {
        font-size: 2.5rem;
    }

    .blueColor {
        color: v.$light-blue-color;
    }

    .yellowColor {
        color: v.$orange-color;
    }

    .redColor {
        color: v.$red-color;
    }

    sup {
        font-size: 1.5rem;
        color: #958888;

        @media (min-width: 1300px) {
            font-size: 2.5rem;
        }
    }

}

h1, h2 {
    margin: 0;
}

h2 {
    color: v.$light-blue-color;
    padding: 0.4rem 0rem 0.4rem 1rem;

    @media (min-width: 1300px) {
        font-size: 2.5rem;
    }
}