@use "../../../styles/mixins" as m;
@use "../../../styles/variables" as v;

nav {
    background: v.$dark-color;
    width: 100%;
    padding: 0.4rem 0rem 0.4rem 1rem;
    padding-bottom: 1rem;

}

.navigationStyling {
    padding: 0;
    margin: 0;
    @include m.flexBox(column, center, flex-start);

    @media (min-width: 760px) {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        li {
            padding-right: 2rem;
            padding-top: 0.5rem;
        }
    }

    @media (min-width: 1300px) {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        li {
            padding-top: 0.5rem;
            font-size: 1.5rem;
        }
    }

    li {
        list-style: none;
        &:last-child {
            a {
                color: v.$light-blue-color;
            }
        }

        a {
            text-decoration: none;
            color: v.$light-gray-color;
        }
    }
}